@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    font-size: 16px;

    @apply text-black;
  }

  .outlined-svg > path {
    fill: none;
    stroke: #050010;
    stroke-width: 1.2rem;
    stroke-linejoin: round;
  }

  HTML.dark .outlined-svg > path {
    fill: none;
    stroke: #ffeef8;
    stroke-width: 1.2rem;
    stroke-linejoin: round;
  }

  @font-face {
    font-family: Monument;
    font-weight: bold;
    src: url(../assets/fonts/MonumentExtended-Ultrabold.otf) format("otf");
  }
  @font-face {
    font-family: Monument;
    font-weight: normal;
    src: url(../assets/fonts/MonumentExtended-Regular.otf) format("otf");
  }
}
