@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 16px;

    @apply text-black;
  }

  html ::-webkit-scrollbar {
    width: 0.5rem;
    background-color: ivory;
  }

  html.dark ::-webkit-scrollbar {
    background-color: #1b1b1b;
  }

  html ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 9999px;
  }

  h1,
  h2,
  p {
    cursor: default;
  }

  .outlined-svg > path {
    fill: none;
    stroke-width: 1.2rem;
    stroke-linejoin: round;
  }

  .animated-underline,
  .animated-side-border-right,
  .animated-side-border-left {
    width: 0;
    height: 0;
    transition-property: width, height, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    box-sizing: border-box;
  }

  .animated-underline {
    border-bottom: transparent 2px solid;
  }

  .animated-side-border-right {
    border-right: transparent 2px solid;
  }

  .animated-side-border-left {
    border-left: transparent 2px solid;
  }

  .has-animated-element:hover .animated-underline,
  .has-animated-element.active .animated-underline {
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    width: 100%;
    border-color: currentColor;
  }

  .has-animated-element:hover .animated-side-border-right,
  .has-animated-element.active .animated-side-border-right,
  .has-animated-element:hover .animated-side-border-left,
  .has-animated-element.active .animated-side-border-left {
    transition-property: height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    height: 100%;
    border-color: currentColor;
  }

  @font-face {
    font-family: RubikMono;
    font-weight: 400;
    src: url(../assets/fonts/RubikMonoOne-Regular.ttf)
      format('truetype-variations');
  }
  @font-face {
    font-family: Jura;
    src: url(../assets/fonts/Jura-VariableFont_wght.ttf)
      format('truetype-variations');
  }
}
